.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
}
.imageHolder{
  width: 30%;
}
.titleHolder{
  width: 90%;
  padding-block: 2.5em;
}
.realImage{
  width: 100%;
  height: 20em;
  border-radius: 2em;
}
.imageandTitleHolder{
  width: 100%;
  display: flex;
  gap: 2em;
  padding-bottom: 2em;
}
.location{
  color: rgb(233, 44, 76);
}
.locationGoogle{
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 2.5em;
  font-weight: bolder;
  font-family: "Protest Guerrilla", sans-serif;
}